<!DOCTYPE html>

<html>
	<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Spring Exercise</title>
</head>
<body>

testing 1234 RULESHEETS!


			<!-- button for add customer -->
			<input type = "button" value = "Add Rulesheet" 
				onclick="window.location.href='showFormAddRulesheet'; return false"
				
			/>
			
			<br  >
			<table>
				<tr>
					<th>id</th>
					<th>type</th>
					<th>filecontent</th>
				</tr>
				
				
				<tr th:each="rulesheet: ${rulesheets}">
				    <td th:text="${rulesheet.id}" />
				    <td th:text="${rulesheet.type}" />
				    <td th:text="${rulesheet.filecontent}" />
		
				</tr>
				
			</table>

		<p>
			<a href = "/customer/list">Back to Customer list</a>
		</p>

</body>
</html>