<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Save Customer</title>
	
	<style>
		.error {color: red}
	</style>	



</head>
<body>
	
	
	<form action = "#" th:action="@{/rulesheet/processRulesheet}" th:object="${rulesheet}" method="POST">
		
		<table>
			
			<tbody>
				<tbody>
					<tr>
						<td><label>File type: </label></td>
						<td><input type = "text" th:field="*{filename}" /></td>	
						<td th:if="${#fields.hasErrors('filename')}" th:errors="*{filename}">Name Error</td>
					</tr>
					
					<tr>						
						<td><label>File content: </label></td>
						<td><input type = "text" th:field="*{filecontent}" /></td>	
						<td th:if="${#fields.hasErrors('filecontent')}" th:errors="*{filecontent}">Content Error</td>
					</tr>
										
					<tr>
						<td><input type = "submit" value = "Save"/></td>
					</tr>
				</tbody>
			</tbody>
		
		</table>
		
	</form>	

		<p>
			<a href = "/rulesheet/list">Back to rulesheet list</a>
		</p>
	
	
</body>
</html>