<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>


<%@ taglib prefix="form" uri = "http://www.springframework.org/tags/form" %>  

<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Save Customer</title>
	
	<style>
		.error {color: red}
	</style>	



</head>
<body>
	
	
	<form action = "processRulesheet" modelAttribute="rulesheet" method="POST">
		
		<table>
			
			<tbody>
				<tbody>
					<tr>
						<td><label>File type: </label></td>
						<td>
							<input path="filename" />
							<br />
							<errors path="filename" cssClass="error" />
							<br />
						</td>
						
					</tr>
					
					<tr>
						<td><label>File content: </label></td>
						<td>
							<input path="filecontent"/>
							<br />
							<errors path="filecontent" cssClass="error" />
						</td>
						
					</tr>
										
					<tr>
						<td><label></label></td>
						<td><input type = "submit" value = "Save"/></td>
					</tr>
				</tbody>
			</tbody>
		
		</table>
		
	</form>	

		<p>
			<a href = "/rulesheet/list">Back to rulesheet list</a>
		</p>
	
	
</body>
</html>